body
{
    display: flex;

    padding: 0;
    margin: 0;

    background-color: grey;
    background-image: url("img/bg_computer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    border: solid 2px blueviolet;

    height: 100vh;
    width: 100vw;

    text-align: center;
    color: rgba(10, 10, 10, 0.8);
}


#isle
{
    display:flex;
    flex-direction: row;
    margin:auto;
    width: 50em;
    height: 28em;
    background-color: white;
    border: solid 2px blueviolet;
    opacity: 0.86;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.5);
}

[id^="pane"]
{
   height: 100%;
    margin:0;
}

#pane-left
{
    background: center no-repeat url("img/bg_tris.png");

    width:40%;
}

#pane-right
{
    /*background-color: burlywood;*/
    width: 60%;
}



#inField
{
    width: 70%;
}

#submit
{
    margin-right: 0;
}




.centered
{
    margin: auto;
}

.logo{
  margin-top: 25px;
  margin-bottom: 45px;
}

.unuscribe{
  margin-top: 95px;
  font-size: 10px;
  color: rgba(112, 108, 97, 0.75);
}

.welcome{
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 24px;
}

.explain{
  font-size: 14px;
  margin-bottom: 18px;
}

.creators{
  font-size: 10px;
  margin-top: 85px;
}

a{
  color: inherit;
  font-weight: bold;
}
