@font-face {
    font-family: 'MontserratAlternates-SemiBold';
    src: url('MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('MontserratAlternates-SemiBold.woff') format('woff');
        url('MontserratAlternates-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

