@import "font/font.css";

#header
{
    display: flex;
    margin: 0.5em;
}

h1
{
    display:inline-block;
    margin-left: 1em;
    text-align: left;
    flex-grow: 1;
    font-size: x-large;
    color: #708090;
}

#logoutButton
{
    width: 2em;
    height: 2em;
    text-align: left;
}


body
{
    display: flex;
}

#sidebarMenu
{
    min-height: 100vh;
    background-color: #62a2b0;
    font-family: 'MontserratAlternates-SemiBold', sans-serif;
    color: #FFFFFF;
    font-size: x-large;
    min-width: max-content;
}

#logoCI {
    display: block;
    width: 7.5em;
    margin: 1em auto 2em;

    -webkit-filter: drop-shadow( -3px 3px 2px rgba(0, 0, 0, .4));
    filter: drop-shadow( -3px 3px 2px rgba(0, 0, 0, .4));
}


#sidebarMenu a
{
    color: #FFFFFF;
}

#sidebarMenu a:hover
{
    color: cyan;
}



body,html {
    margin: 0;
    padding: 0;
    background-color: #d3d6d8;
}

#footer
{
    position:absolute;
    bottom: 0;
    text-align: center;
    font-size: small;
    width: 100%;
    color: #708090;
}

#footer p
{
    margin: 0;
    margin-bottom: 0.1em;
}

main{
    min-height:100vh;
    width:100%;
    position:relative;
}

