@import "font/font.css";

/*Home*/

#maindash
{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 1em 3em;
}

.dashboard, .notdashboard
{
    flex-grow: 1;
}

.dashboard
{
    background-color: #f9f9fa;
    margin: 0.7em;
}

.dashboard h2
{
    background-color: #73b1c0;
    text-align: center;
    font-family: 'MontserratAlternates-SemiBold', sans-serif;
    color: #FFFFFF;
    font-size: large;
    padding: 0.3em;
    min-width: max-content;
}

.dashboard button
{
    margin: 0.3em;
}







.notdashboard
{
    display: flex;
    flex-direction: column;

}

.horiz-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vertic-buttons
{
    display: flex;
    flex-direction: column; /*TODO need JS for switching*/
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#dashCRread
{
    /*max-height: 15em;*/
}

#dashCRread p
{
    overflow-x: auto;
}

#dashmembers button
{
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 20em;
    width: 10em;
}

/*...*/
